:root {
    --pink: #c74e51;
    --dark-red: #45151b;
    --gold: #d88b25;
    --yellow: #dbb352;
    --pale-yellow: #e5dec1;
    --light-green: #c1b687;
    --dark-green: #665b00;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--pale-yellow);
    font-family: "Geologica", sans-serif;
    color: var(--dark-red);
    width: 100%;
}

img {
    max-width: 100%;
}
/*Header*/
header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-green);
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.dropdown {
    width: 30%;
}

#shop {
    width: 6rem;
    align-self: center;
    padding-top: 1rem;
    margin-left: 1rem;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30%;
}

#logo span {
    text-decoration: none;
    color: black;
    font-family: "Noto Nastaliq Urdu";
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: 800;
}

#logo img {
    width: 3rem;
}

.icons {
    width: 30%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.icons img {
    width: 2rem;
}

.dropdown {
    display: inline-block;
}

.nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--yellow);
    width: 160px;
    z-index: 1;
}

.nav-links a {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    display: block;
}

.nav-links a:hover {
    background-color: var(--gold);
}

.dropdown:hover .nav-links {
    display: block;
}

/*Home*/
#image {
    background-image: linear-gradient(#333a097e, #333a097e), 
    url(images/gold.jpg);
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.home h1 {
    width: 60%;
    text-align: center;
    justify-self: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.item {
    width: 18rem;
    height: 24rem;
    background-color: var(--light-green);
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--dark-red);
    align-items: flex-start;
    justify-content: space-between;
}

.item > img {
    width: 1.5rem;
    padding-right: 1rem;
}

.item > img:hover {
    cursor: pointer;
}

.image-container {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.price {
    width: 100%;
}

.price, .product {
    padding-left: 1rem;
}

.image {
    background-image: url(images/bangles.jpg);
    width: 100%;
    height: 24rem;
    background-size: cover;
    background-position: center;
}

/*About Us*/
#about-us {
    width: 100%;
    height: 16rem;
    background-image: linear-gradient(#4b09099f, #4b09099f), 
    url(images/about-background.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gold);
    padding-bottom: 3rem;
    box-sizing: border-box;
}
#about-us h1 {
    font-size: 3rem;
}

#about-us p {
    text-align: center;
    font-weight: 200;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    aspect-ratio: 1 / 1;
    justify-self: center;
    margin: 3rem 0;
}

.about:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.about:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.about:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
}

.about:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
}

.collage {
    background-color: var(--dark-red);
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.collage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.text {
    background-color: var(--light-green);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.text h2 {
    font-size: 1.5rem;
    font-weight: 300;
}


.text p {
    font-weight: 200;
    line-height: 2rem;

}

.sustainability {
    display: flex;
    flex-direction: column;
    background-image: url(images/lines-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    box-sizing: border-box;
    line-height: 3rem;
}

.sustainability p {
    text-align: center;
}

/*Custom*/
.custom h1 {
    margin-left: 3rem;
}
.custom form {
    width: 90%;
    justify-self: center;
}

option {
    background-color: #c1b687;
    padding: 1rem;
    font-family: "Geologica", sans-serif;
}

.custom label {
    margin-top: 0.5rem;
}

select {
    background-color: #c1b687;
    padding: 0.5rem;
    border: 1px solid var(--dark-red);
    border-radius: 4px;
}

button {
    background-color: var(--dark-red);
    color: var(--gold);
    padding: 1rem;
    font-family: "Geologica", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 16px;
}

button:hover {
    color: var(--yellow);
    background-color: #240508;
}

.waitlist {
    display: flex;
    padding: 1.5rem;
    margin-top: 3rem;
    align-items: center;
}
.waitlist-form {
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waitlist-form input {
    background-color: var(--light-green);
    border-radius: 2px;
    padding: 0.5rem;
    margin-top: 2rem;
}

.waitlist-form p {
    line-height: 3rem;
    padding: 1rem;
}

.waitlist-images {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 1.5rem;
}

.waitlist-images div {
    width: 100%;
    background-color: #746869;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
    border: 2px solid var(--dark-red);
    font-size: 2rem;
    font-weight: 600;
}

#bag {
    background-image: linear-gradient(#4d0e0e70, #4d0e0e70), 
    url(images/custom-bag.jpg);;
}

#jewelry {
    background-image: linear-gradient(#4d0e0e70, #4d0e0e70), 
    url(images/custom-jewelry.jpg);;
}

#hat {
    background-image: linear-gradient(#4d0e0e70, #4d0e0e70), 
    url(images/custom-hat.jpg);
}

#bag, #jewelry, #hat {
    background-size: cover;
}

.shipping {
    background-color: #d6ccad;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 5rem;
}

.shipping h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.question {
    width: 45%;
    background-color: #c1b687;
    padding: 1rem;
    border: 1px solid var(--dark-red);
    box-sizing: border-box;
    border-radius: 8px;
}

.question p {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.25rem;
    margin-top: .5rem;
}

/*Contact*/
.contact {
    width: 45%;
}
h1 {
    margin: 2rem 0 0 2rem;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1rem;
}
.name {
    display: flex;
    flex-direction: column;
    width: 45%;
}

form :not(.name) {
    width: 100%;
}

form span {
    color: var(--pink);
}

input{
    background-color: var(--pale-yellow);
    border: 1px solid var(--dark-red);
    border-radius: 4px;
    padding: 0.25rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

textarea {
    background-color: var(--pale-yellow);
    border: 1px solid var(--dark-red);
    border-radius: 4px;
    width: 100%;
    height: 6rem;
    font-family: "Noto Nastaliq Urdu", serif;
    padding: 1px;
}

.file-upload {
    display: flex;
    background-color: var(--light-green);
    margin: 2rem 0;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--dark-red);
    border-radius: 5px;
}

.file-upload img {
    width: 1rem;
}

#files {
    background-color: var(--light-green);
    border: none;
    font-family: "Geologica", sans-serif;
}

#contact-us {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.return {
    width: 50%;
    padding-top: 3rem;
    text-align: center;
    line-height: 2rem;
}

.return h2 {
    margin-bottom: 2rem;
}

.return p {
    font-size: .75rem;
}

.tracking {
    margin-top: 1rem;
    border: 1px solid var(--dark-red);
    border-radius: 14px;
}

.tracking img {
    width: 2rem;
    margin-top: 1rem;

}

/*Products*/
#products {
    font-size: 3rem;
    width: 80%;
    text-align: center;
    align-self: center;
    margin: 2rem 0;
}

/*Footer*/
footer {
    background-color: var(--dark-red);
    color: var(--gold);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

footer a {
    text-decoration: none;
    color: var(--gold);
}

.footer-links {
    display: flex;
}

.footer-links > a {
    font-size: 1rem;
    padding-top: 1rem;
}

.footer-links ul {
    list-style: none;
    font-size: 0.5rem;
    margin: 1rem;
}

.footer-links li {
    line-height: 1.5rem;
}

.footer-tracking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

.footer-tracking img {
    width: 3rem;
}

@media (min-width: 800px) {
    .waitlist {
    flex-direction: column;
}


.waitlist-images {
    flex-direction: row;
    width: 80%;
    margin-top: 3rem;
}

.sustainability {
    padding: 12rem;
}

}